<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.5.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="106.0.5249.6100" targetFramework="net48" />
</packages>